* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbarNav .navbar .container-fluid{
    position: relative;
    height: 60px;
}
.navbarNav .navbar .container-fluid .navbar-brand{
    color: red;
    padding-left: 280px;
    font-size: xxx-large;
    font-weight: 1500;
    justify-content: center;
    display: flex;align-items: center;
}
.navbarNav .navbar .container-fluid .d-flex .form-control{
    padding-right: 15px;
    width: 100%;
    margin-right: 15px;
}
.navbarNav .navbar .container-fluid .btn{
    margin-right: 60px;
}
.tabSection .navbar{
    background-color: white;
    box-shadow: 0 3px;
    height: 40px;
}
.tabSection .navbar .container-fluid a{
    padding-left: 280px;
}
.tabSection .navbar .container-fluid .navbar-text p{
    margin-right: 200px;
    display: flex;
    margin-top: 14px;
}
.tableSection h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 100px;
}
.tableSection img{
    height: 23px;
    width: 23px;
}
.footerSection{
    background-color:black;
    margin: 30px 45px;
    padding-left: 90px;
    margin-top: 20px;
    color: white;
}
.footerSection img{
    height: 90px;
    width: 90px;
}
.footerSection h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    padding-left: 45px;
}
.footerSection .dropdown .btn{
    margin-left: 1200px;
}
.footerSection p{
    font-size: smaller;
}