* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa; 
}
.backgroundSection .background img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; 
    width: 85%;
    display: flex;
    position: relative;
    padding-left: 180px;
    margin-left: 40px;
    opacity: 0.9;
}
.backgroundSection .background .centered{
    position: absolute;
    top: 220px;
    align-items: left;
    left: 400px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 2000;
    font-size: xxx-large;
}
.backgroundSection .background .p1{
    position: absolute;
    top: 140px;
    align-items: right;
    left: 710px;
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: lighter;
}
.backgroundSection .background .p2{
    position: absolute;
    top: 280px;
    align-items: right;
    left: 710px;
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: lighter;
}
.navbar {
    position: relative;
    width: 64%;
    margin-left: 280px;
    background-color: rgb(144, 143, 143);
    color: gray;
    height: 60px;
    font-size: x-large;
}
.navbar .container-fluid .collapse .navbar-nav a{
    padding-left: 57px;
}
.cardSection .container .card{
    margin-left: 147px;
    height: 45px;
}
.cardSection .container .card .card-body h5{
    font-size: x-large;
}
.cardSection2 .container .card{
    margin-left: 147px;
    height: 45px;
    margin-top: 460px;
}
.footerSection{
    background-color:whitesmoke;
    margin: 30px 45px;
    padding-left: 90px;
    margin-top: 380px;
}
.footerSection h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xxx-large;
    padding-left: 45px;
}
.footerSection p{
    font-size: smaller;
}
